.custom-card {
    margin-bottom: 5px;
    width: 80%;
}

.custom-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-row {
    display: flex;
    justify-content: flex-end;
    width: 90%;
}

.filter {
    width: 10%;
}